{% extends 'base.html' %} {% block content %}

<h1 class="text-center display-5">Tentang</h1>
<br />

<p class="lh-base fs-4">
  Sistem ini dibuat bertujuan untuk mengklasifikasikan gambar
  <em> X ray</em> dada pasien COVID-19. Sistem terdiri dari model yang dibuat
  dengan menggunakan bahasa pemograman python dengan memanfaatkan algoritma
  <em> Convolutional Neural Network</em>.
</p>
<br />

<!-- <div class="row justify-content-center">
  <div class="col-sm-4">
    <img src="{{ imageflask }}" class="img-fluid" alt="Image Flask" />
  </div>
  <div class="col-sm-4">
    <img src="{{ imagetensorflow }}" class="img-fluid" alt="Image Tensorflow" />
  </div>
  <div class="col-sm-4">
    <img src="{{ imagepython }}" class="img-fluid" alt="Image Python" />
  </div>
</div> -->

{% endblock %}
